.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 20px;
    background: var(--color-background);


    @media (max-width:992px) {
        background-color: rgb(35, 39, 50);
    }
}

.logo__link {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:992px) {
        font-size: 1.5rem;
    }

}

.nav {
    display: flex;

    @media (max-width:992px) {
        display: none;
    }
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;



}

.nav__link {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    position: relative;
    padding: 20px 30px;


    @media (max-width:992px) {
        width: 100%;
        font-size: 1.2rem;
        padding: 15px;
    }

    &:hover {
        box-shadow: -5px -5px 5px rgba(197, 186, 186, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.3);

        // &::before {
        //     z-index: 1;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     content: "";
        //     position: absolute;
        //     height: 95%;
        //     width: 95%;
        //     box-shadow: inset -5px -5px 5px rgba(197, 186, 186, 0.3), inset 5px 5px 5px rgba(0, 0, 0, 0.3);
        // }

    }
}

.nav_mobile {
    display: none;

    @media (max-width:992px) {
        display: flex;
        overflow: hidden;
    }
}

.mobile__list {
    position: absolute;
    width: 100%;
    top: 62px;
    left: 0;
    flex-direction: column;
    background-color: #000000ea;
    z-index: 999;
    left: 100%;
    height: 100vh;
    padding: 20px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile__link {
    padding: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-button);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    border: 2px solid var(--color-text-main);
}




.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 35px;

    span {
        width: 100%;
        height: 2px;
        background-color: var(--color-button);
    }


    @media (max-width:367px) {
        width: 30px;
        height: 30px;
    }
}

.show .burger {
    position: relative;

    span {
        position: absolute;

        &:nth-of-type(2) {
            display: none;
        }

        &:nth-of-type(1) {
            transform: rotate(45deg);
            top: 50%;
        }

        &:nth-of-type(3) {
            transform: rotate(-45deg);
            top: 50%;
        }
    }
}

.show .mobile__list {
    transition: 0.5s linear;
    left: 0px;

}

//--------------------Start mode switch
.navigationSwitch {
    position: relative;
    display: inline-block;
    width: 82px;
    height: 40px;
    cursor: pointer;
}

.navigationSwitch .switchInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-switsh);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 5px;
}

.switchSlider:before {
    position: absolute;
    content: '';
    height: 32px;
    width: 38px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-switch-main);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 5px;
}

.light,
.dark {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
}

.lightIcon,
.darkIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.light {
    left: -2px;
    transform: translate(70%, -50%);
}

.dark {
    right: -3px;
    transform: translate(-70%, -50%);
}

.dark .darkIcon {
    filter: var(--filter);

}

.switchInput:checked+.switchSlider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

.navigationSwitch:focus {
    box-shadow: 0px -5px 24px 0px rgba(0, 0, 0, 0.07);
}

//----------------- End mode switch