.scillsBox {
    display: flex;
    margin-bottom: 30px;
    gap: 40px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.allSkills {
    display: flex;
    flex: 1;
}

.each {
    color: var(--color-button);
    background: var(--color-background);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.skills:hover .each {
    position: relative;

    &::before {
        border-radius: 15px;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        position: absolute;
        height: 95%;
        width: 95%;
        box-shadow: inset -5px -5px 5px rgba(197, 186, 186, 0.3), inset 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
}

.box {
    padding: 16px;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.next,
.js {
    justify-content: space-between;
}

.react,
.ts {
    justify-content: space-between;
    align-items: flex-end;
}


.icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    filter: invert(1);
}

.center {
    z-index: 2;
    position: absolute;
    height: 200px;
    width: 200px;
    // max-width: 250px;
    // max-height: 250px;
    background: var(--color-background);
    color: var(--color-title);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    // box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
    border: 10px solid #e8edf5;
}

.center .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.centerSkills {
    align-content: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.skillsChart {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@media (max-width:992px) {

    .each,
    .center {
        width: 300px;
        height: 300px;
    }

    .scillsBox {
        flex-direction: column;
    }

    .skills {
        margin: 0 auto;
    }
}

@media (max-width:700px) {

    .each,
    .center {
        width: 200px;
        height: 200px;
    }
}

@media (max-width:485px) {

    .each,
    .center {
        width: 120px;
        height: 120px;
    }

    .box {
        padding: 5px;

        h2 {
            font-size: 16px;
        }
    }

    .icon {
        width: 30px;
        height: 30px;
    }
}