:root {
    --color-white: #ffffff;
    --color-background: #212428;
    --color-button: rgba(244, 16, 16, 0.867);
    --color-text-main: #abadb1;
    --color-title: #ffffff;
    --color-background-switsh: #ffffff;
    --color-switch-main: #212428;
}

[data-theme='dark'] {
    --color-white: #ffffff;
    --color-background: #d1cbcba5;
    --color-button: #ef2424;
    --color-text-main: #484b4f;
    --color-title: #ef2424;
    --color-background-switsh: #212428;
    --color-switch-main: #ffffff;
}